
/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --after-content: '';

}

body {
    font-family: 'Mulish', sans-serif;
}

.container{
    margin-right: auto;
    margin-left: auto;
   
    /* width: 100%; */
}

nav{
    display: flex;
    align-items: center;
    box-shadow: 0px 1.13px 1.7564px 0px rgba(48, 46, 46, 0.09);
    height: 70px;
    width: 100%;
    padding: 0 4rem;
    position: sticky;
 
    justify-content: space-between;
}


.avatar{
    height: 32px;
    width: 32px;
    margin-left: 2rem;
    
}

ul{
    padding: 0 4rem;
}

li{
    list-style: none;
    float: left;
    padding-right: 2rem;
}

a{
    text-decoration: none;
}

.icons {
    /* border: solid 1px blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}


.cart-icon{
    border:none;
    background: none;
}

.item-1 {
    height: 375px;
    width: 375px;
}

.thumbnail-1 {
    height: 75px;
    width: 75px;
}

.cart-title {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    box-shadow: 0px 1.13px 1.7564px 0px rgba(48, 46, 46, 0.09);
    
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    
}

.item-photo img{
    border-radius: 10px;
    margin-bottom: 1rem;
}

h2{
    font-size: 32px;
    font-weight: 750;
    /* padding-bottom: 1rem; */
    letter-spacing: 25%;
}

h4{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 25%;
}

h3 span{
    font-size: small;
    padding-bottom: 3px;
}

h5{
    font-weight: 700;
    font-size: small;
    letter-spacing: 150%;
    /* padding-bottom: 1rem; */
}

h5 strike {
    color: gray;
    padding-top: 0.3rem
}


p {
    color: gray;
    font-size: 16px;
    line-height: 25px;
    /* padding-bottom: 1rem; */
}

.bottom-space{
    padding-bottom: 1rem;
}


.description{
    padding-left: 5rem;
    width: 500px;
}

.page-buttons {
    display: flex;
    align-items: center;
    
}


#item-counter {
    padding: 7px 10px;
    
    background-color: gainsboro;
    border-radius: 10px;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 700;
    
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#item-counter p {
    padding: 0px 20px;
    color: #000

}


#item-counter button {
    border:none;
    background: none;
}

.add-to-cart, .checkout-button{
    padding: 10px 50px;
    background-color: orange;
    margin-left: 1rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 700;
    display: flex;
    cursor: pointer; 
}

.add-to-cart svg{
    margin-right: 5px;
}

.cart-box {
    position: absolute;
    top: 70px;
    left: 74%;
    background-color: white;
    overflow-y: auto;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    
    padding: 1rem 1rem;
    width: 25% !important;
}

.hide {
    display: none;
}

.non-empty::after {
    content: var(--after-content);
    font-size: 12px;
    width: 16px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    top: -16px;
    right: 20%;
    background-color: orangered;
}

.cart-item {
    display: grid;
    grid-template-columns: .3fr 2fr .3fr;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
}

.cart-item-image {
    width: 40px;
    height: 40px;
}


.bold {
    font-weight: 700;
    color: #000;
}



.delete-item{
    margin: 0;
    padding: 0;
}










.attribution {
    position: fixed;
    bottom: 0;
    font-size: small;
    width: 100%;
    text-align: center;
}